# Unity 에셋 파일들은 CRLF 고정
*.asset text eol=crlf
*.meta text eol=crlf
*.unity text eol=crlf
*.prefab text eol=crlf
*.mat text eol=crlf
*.controller text eol=crlf
* text=auto
*.txt text eol=crlf
ProjectSettings/*.txt text eol=crlf